<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AsignacionProspecto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PaisEstado</display-name>
    <servlet-name>PaisEstado</servlet-name>
    <servlet-class>servlets.PaisEstado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaisEstado</servlet-name>
    <url-pattern>/PaisEstado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadFile</display-name>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>servlets.uploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assignProspecto</display-name>
    <servlet-name>assignProspecto</servlet-name>
    <servlet-class>servlets.assignProspecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignProspecto</servlet-name>
    <url-pattern>/assignProspecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getnombre_by_cardcode</display-name>
    <servlet-name>getnombre_by_cardcode</servlet-name>
    <servlet-class>servlets.getnombre_by_cardcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getnombre_by_cardcode</servlet-name>
    <url-pattern>/getnombre_by_cardcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reportGanadores</display-name>
    <servlet-name>reportGanadores</servlet-name>
    <servlet-class>servlets.reportGanadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportGanadores</servlet-name>
    <url-pattern>/reportGanadores</url-pattern>
  </servlet-mapping>
</web-app>